<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
    id="WebApp_ID" version="4.0">
    
    <display-name>LoginRegistrationSystem</display-name>
    
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    
    <!-- Servlet Mapping for ViewOrdersServlet -->
    <servlet>
        <servlet-name>ViewOrdersServlet</servlet-name>
        <servlet-class>com.login.controller.ViewOrdersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewOrdersServlet</servlet-name>
        <url-pattern>/ViewOrdersServlet</url-pattern>
    </servlet-mapping>

    <!-- Servlet Mapping for UpdateOrderStatusServlet -->
    <servlet>
        <servlet-name>UpdateOrderStatusServlet</servlet-name>
        <servlet-class>com.login.controller.UpdateOrderStatusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateOrderStatusServlet</servlet-name>
        <url-pattern>/UpdateOrderStatusServlet</url-pattern>
    </servlet-mapping>

    <!-- Error page configuration -->
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/error.jsp</location>
    </error-page>
    
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
    
    <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>
    
</web-app>